.optionsContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	border: 2px solid black;
	padding: 10px;
	transform: translate(-50%, -50%);
	min-width: 116px;
	font-size: 20px;
}

.option {
	margin: 7% 0;
}

.optionBox {
	display: block;
	margin: 0 auto;
}

.errorText {
	color: red;
	font-size: 14px;
}

.numberBox {
	width: 50px;
}
